{% extends "@Tsugi/Page.twig" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{style}}"/>
    <script type="text/javascript">
    if (!String.prototype.endsWith) {
        String.prototype.endsWith = function(searchStr, Position) {
            // This works much better than >= because
            // it compensates for NaN:
            if (!(Position < this.length))
                Position = this.length;
            else
                Position |= 0; // round position
            return this.substr(Position - searchStr.length,
                                searchStr.length) === searchStr;
        };
    }
    if (!String.prototype.startsWith) {
            String.prototype.startsWith = function(searchString, position){
            return this.substr(position || 0, searchString.length) === searchString;
        };
    }
    </script>
{% endblock %}

{% block content %}
    <section class="container">
        <!-- {{ selected | json_encode() }} {{ selected.answer }} -->
        <div class="row">
            <div class="col-xs-12">
                <form class="form-inline text-left" method="post" target="_self" id="form" name="form">
                    <h4>I've looked at the requirements for all my courses for the coming term,<br/> and think that:</h4>
                    <ul>
                        <li>
                            <input type="radio" id="option-1" name="selector" value="1" {% if (selected.answer == "1") %}checked checked="true" selected{% endif %}>
                            <label for="option-1">
                                I'm good to go. <small>I'm ready to start and aim to complete this term successfully online.</small>
                            </label>
                            
                            <div class="check"></div>
                        </li>
                        <li>
                            <input type="radio" id="option-0" name="selector" value="0" {% if (selected.answer == "0") %}checked checked="true" selected{% endif %}>
                            <label for="option-0">
                                I'm not sure. <small>I may have some challenges, and need to discuss my studies with an advisor.</small>
                            </label>
                            
                            <div class="check"><div class="inside"></div></div>
                        </li>
                    </ul>
                    <div class="row">
                        <div class="col-xs-8" id="message">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    <script src="{{path}}/js/moment.min.js"></script>
    <script>
    $(function() {
        var save_timer = null,
            clear_msg_timeout = null,
            updated = {% if (selected.answer == "-1") %}false{% else %}true{% endif %};

        function hideMessage(fast) {
            var _fast = fast || false;
            clearTimeout(clear_msg_timeout);
            if (_fast) {
                $('#message').hide();
            } else {
                $('#message').fadeOut(1000);
            }
        }

        function showMessage(t, args, fade) {
            var _fade = fade || true;
            $('#message').show().html(tmpl(t, args));
            clearTimeout(clear_msg_timeout);
            if (_fade) {
                clear_msg_timeout = setTimeout(function(){ hideMessage(); }, 5000);
            }
        }

        function doPost() {
            if ($("#form input[type=radio]:checked").length > 0) {
                showMessage('tmpl-loading', {});

                var jqxhr = $.post('{{submit}}', 
                    { "val": $("#form input[type=radio]:checked").val() },
                    function(result) {
                        if (result['done'] == 1) {
                            showMessage('tmpl-saved', {update: updated});
                            updated = true;
                        } else {
                            showMessage('tmpl-error', {});
                        }
                    }, 'json')
                    .fail(function() {
                        showMessage('tmpl-error', {});
                    });
            } else {
               showMessage('tmpl-no-selection', {});
            }
        }

        $("#form").on('change', 'input[type=radio]', function(event){
            clearTimeout(save_timer);
            save_timer = setTimeout(function(){ doPost(); }, 1000);
        });
    });
    </script>
    {{ source('tmpl.html', ignore_missing = true) }}
{% endblock %}
